<ons-template id="reference.html">

  <ons-page class="background">
    <ons-toolbar>
      <div class="left">
        <ons-back-button>Back</ons-back-button>
      </div>
      <div class="center">YouchraLand | Reference</div>
    </ons-toolbar>
    <br>
    <h2>REFERENCE</h2>
    <p>Here I list all the websites I worked on and are worth beeing mentioned.</p>
      <h3>INTERNSHIPS</h3>
    <p>
      <b>rentadesigner</b>
      <br><a href="http://praktikum.raphaelhippe.de/" target="_blank">View Result</a>
      <br>
      <br><b>IMD Gesellschaft fuer Informatiker</b>
      <br>Intership included working with:
      <ul>
        <li>AngularJS (1.4)</li>
        <li>GIT</li>
        <li>NodeJS</li>
        <li>Bootstrap</li>
        <li>D3JS</li>
      </ul>
      <br>Result is not visible due to company policies.
    </p>
    <h2>COMPETELEAGUE PROJECT</h2>
    <p>
      <b>CompeteLeague Main Site</b>
      <br><a href="http://competeleague.com/" target="_blank">View Website</a>
      <br><b>CompeteLeague LoL Site</b>
      <br><a href="http://lol.competeleague.com/" target="_blank">View Website</a>
      <br><b>Github CL</b>
      <br><a href="https://github.com/CompeteLeague/CompeteLeague" target="_blank">View GitHub</a>
      <br><b>Github CL AngularJS Directives</b>
      <br><a href="https://github.com/CompeteLeague/clAngularDirectives" target="_blank">View GitHub</a>
    </p>
    <br>
    <div style="text-align: center">
      <br />
      <!-- <ons-button modifier="light" ng-click="app.navi.popPage()">
        Back
      </ons-button> -->
      <button class="button button--large" ng-click="app.navi.popPage()" >
        Back
      </button>
    </div>
  </ons-page>
</ons-template>
