<?xml version='1.0' encoding='utf-8'?>
<widget id="YouchraLand" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>YouchraLand</name>
    <description>
        A test app designed and developed by Raphael 'Youchra' Hippe
    </description>
    <author email="info@raphaelhippe.de" href="http://raphaelhippe.de">
        Raphael 'Youchra' Hippe
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
